.h3 {
    color: white;
    font-size: 3vmin;
    margin: 0;
}

.text {
    font-size: 2vmin;
    color: white;
    margin: 0;
}

.textHighlighted {
    font-size: 2vmin;
    color: white;
    margin: 0;
    color: yellow;
}
